---
sudo: false
language: bash
addons:
  apt:
    packages: shellcheck
script:
  - ./build/build.sh
notifications:
  email: false
  irc:
    on_success: change
    on_failure: always
    skip_join: true
    channels:
      - "irc.freenode.org#virtapi"
